<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-eaten="{{eaten}}">
		{{#if eaten}}Inhale{{else}}Throw back up{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
